version: "3.8"

services:
  mysql:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: crawl
      MYSQL_PASSWORD: crawl
      MYSQL_DATABASE: tournament
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - tourney
    ports:
      - "3306:3306"
    # The first option uses MySQL 5.x era authentication. The rest are performance
    # optimisation.
    command: "--default-authentication-plugin=mysql_native_password --skip_log_bin --innodb-flush-log-at-trx-commit=0"
  loaddb:
    build:
      context: .
      dockerfile: Dockerfile.loaddb
    networks:
      - tourney
    command:
      - python
      - ./loaddb.py
      - --db-host=mysql
      - --db-pass=crawl
      - --db-retry-connect
      - --validate-database
    environment:
      BASEDIR: /root
      WEB_BASE: "http://localhost:8080"
    volumes:
      - ./logfiles:/usr/src/app/logfiles
      - ./milestones:/usr/src/app/milestones
      - ./rcfiles:/usr/src/app/rcfiles
      - ./html.tourney0.29:/usr/src/app/html.tourney0.29
    depends_on:
      - mysql
  web:
    image: nginx
    ports:
      - 8080:80
    volumes:
      - ./html.tourney0.29:/usr/share/nginx/html:ro

networks:
  tourney:

volumes:
  mysql:
