body {
  background-color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  /*
    When scrolling to a header (eg by clicking an #anchor link), scroll 3.5rem
    above to account for the nav bar.
    Too bad we can't just say "the height of x". But 3.5rem matches the height
    of the nav bar.
  */
  scroll-margin-top: 3.5rem;
}

.category-image {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.text-outline-black-1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pixel-art {
  /* Firefox */
  image-rendering: -moz-crisp-edges;
  /* Chrome */
  image-rendering: pixelated;
}

.sticky-column {
  position: sticky;
  left: 0;
  /*
    This background colour is  hardcoded copy of the body background.
    There must be a better way...
  */
  background: #ddd;
}
/*
  A little ugly, but hits WCAG contrast guidelines.
*/
td.sticky-column a, tr.table-secondary td a, tr.table-secondary th a {
	color: #406098;
}

.text-light a {
  /* Increase link contrast with our background */
  color: #72a6f8;
}

div.banner img {
  max-width: 180px;
  /* Required in Chrome to preserve aspect ratio, but not in Firefox. */
  object-fit: contain;
}
