body {
  background-color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  /*
    When scrolling to a header (eg by clicking an #anchor link), scroll 3.5rem
    above to account for the nav bar.
    Too bad we can't just say "the height of x". But 3.5rem matches the height
    of the nav bar.
  */
  scroll-margin-top: 3.5rem;
}

.category-image {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.text-outline-black-1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pixel-art {
  /* Firefox */
  image-rendering: -moz-crisp-edges;
  /* Chrome */
  image-rendering: pixelated;
}

.banner-tier-1 {
  border-style: dashed;
  padding: 1px;
  margin: 2px;
}

.banner-tier-2 {
  border-style: dotted;
  padding: 1px;
  margin: 2px;
}

.banner-tier-3 {
  border-style: solid;
  padding: 1px;
  margin: 2px;
}

/* Make sticky column background dark. Without this, the columns assume Bootstrap light colour */
table.DTFC_Cloned th, table.DTFC_Cloned td {
  background-color: #343a40;
}

.text-light a {
  /* Increase link contrast with our background */
  color: #72a6f8;
}

div.banner img {
  max-width: 180px;
  /* Required in Chrome to preserve aspect ratio, but not in Firefox. */
  object-fit: contain;
}

hr {
  /* Slightly lighter <hr>s, to suit our dark background. */
  border-top: 1px solid rgba(64, 64, 64, 0.5);
}

/* XX hack workaround, restore the bootstrap styling (otherwise table-dark
   doesn't render right with datatables) */
table.dataTable tbody tr {
  background-color: #343a40;
}

.lr-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lr-flex > div {
  width: 48%;
}

#player-search-div {
  width:100%;
}

#player-search {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#clan-search {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.search-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-list li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.search-list li a:hover {
  background-color: #343434;
}
