div.heading {
    text-align: center;
}

div.heading_left {
    text-align: left;
}

div.player_clan {
    width: 50%;
    background: #ffffe0;
    border: 1px solid #000;
    padding: 15px;
}

div.content {
    position: relative;
}

div.content_centered {
    text-align: center;
}

div.player_status {
    position: absolute;
    top: 0px;
    right: 10px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

div.sidebar {
    position: absolute;
    top: 0px;
    right: 10px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

div.sidebar_title {
    padding: 0px 20px 0px 20px;
    background: #ffffe0;
    border: 1px solid #000;
}

div.sidebar_content {
    padding: 0px 20px 0px 20px;
    background: white;
    border: 1px solid #000;
}

div.inset {
    background: #ffffe0;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page_back {
    background: #ccc;
}

.page {
    border: 2px solid #333;
    background: #ffffff;
    margin: 20px;
}

.page_narrow {
    border: 2px solid #333;
    background: #ffffff;
    margin: 20px;
    width: 70%;
}

.page_content {
    padding: 20px;
}

div.toplinks {
    margin-top: 0px;
    background: #faffff;
    color: #ccc;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
}

div.toplinks a:hover {
    text-decoration: none;
    background-color: #ff0;
}

.inline_heading {
    font-weight: bold;
    /* font-family: sans-serif; */
}

table.bordered {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

table.bordered td {
    margin: 6px;
    padding: 6px;
    border: 1px solid #000;
    vertical-align: top;
}

table.bordered td.blank {
    border: 0px;
}

td.legend {
}

th {
    font-weight: bold;
    background: #ffffe0;
    padding-left: 3px;
    padding-right: 3px;
}

table.bordered th {
    border: 1px solid #000;
}

table.grouping td {
    padding-left: 15px;
    padding-right: 15px;
}

table.grouping th {
    padding-left: 15px;
    padding-right: 15px;
}

tr.odd {
    background: #ffffff;
}

tr.even {
    background: #fdfdfd;
}

tr.win_odd {
    font-weight: bold;
    background: #ffffff;
}

tr.win_even {
    font-weight: bold;
    background: #fdfdfd;
}

tr.point_temp {
    font-family: Monospace;
    color: #aaa;
}

tr.point_perm {
    font-family: Monospace;
    color: #000;
}

.numeric {
    text-align: right;
}

table.overview {
    border: 0px;
}

table.grouping {
    border: 0px;
}

.tdover {
    border: 0px;
    padding: 2px;
    margin: 2px;
}

.updatetime {
    width: 100%;
    text-align: center;
    font-size: xx-small;
}

div.fineprint {
    font-size: xx-small;
    color: #aaa;
    padding: 0px;
    margin-top: 2px;
}

body.simple_left_align div.updatetime {
    padding-top: 20px;
    font-size: xx-small;
    text-align: left;
}