body {
  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Sans-Serif";
  font-size: 12px;
  background: #fff;
  padding: 8px 10px;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
}

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}

hr {
  color: #ccc;
  height: 1px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 11px;
}

td, th {
  text-align: left;
  padding: 2px 4px;
}

th {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

a {
  color: #54b;
}

a:visited {
  color: #300;
}

.numeric {
  text-align: right;
}

tr.even td {
  background: #f0ffe0;
}

tr.odd td, tr.even td {
  color: #666;
}

tr.win td {
  font-weight: bold;
  color: #000;
}

#last_updated {
  color: #888;
  font-size: 8px;
  margin-top: 15px;
}

div.player_clan {
    width: 50%;
    background: #ffffe0;
    border: 1px solid #ddd;
    padding: 15px;
}

div.content {
  position: relative;
}

div.content_centered {
    text-align: center;
}

div.centerable {
    margin-left: auto;
    margin-right: auto;
}

div#player-banners {
  position: absolute;
  top: 30px;
  right: -90px;
}

div.player_status {
    position: absolute;
    top: 0px;
    right: 40px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

div.sidebar {
    position: absolute;
    top: 0px;
    right: 10px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

div.sidebar_title {
    padding: 0px 20px 0px 20px;
    background: #ffffe0;
    border: 1px solid #000;
}

div.sidebar_content {
    padding: 0px 20px 0px 20px;
    background: white;
    border: 1px solid #000;
}

div.inset {
    background: #ffffe0;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page_back {
    background: #ccc;
}

.page {
    border: 2px solid #333;
    background: #ffffff;
    margin: 0px;
    position: relative;
}

.bannered {
  margin-right: 80px;
}

.page_narrow {
    border: 2px solid #333;
    background: #ffffff;
    margin: 20px;
    width: 70%;
}

.page_content {
    padding: 12px 35px;
}

/*
.content-bannered {
  padding-right: 80px;
}
*/

div.toplinks {
    margin-top: 0px;
    background: #faffff;
    color: #ccc;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
}

div.toplinks a:hover {
    text-decoration: none;
    background-color: #ff0;
}

.inline_heading {
    font-weight: bold;
    /* font-family: sans-serif; */
}

table.bordered {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

div.bordered {
  border: 1px solid #ddd;
  padding: 7px 8px;
}

table.bordered_centered {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
  vertical-align: top;
}

table.bordered td {
  padding: 6px;
  border: 1px solid #ddd;
  vertical-align: top;
}

table.bordered_centered td {
    margin: 6px;
    padding: 6px;
    border: 1px solid #ddd;
    vertical-align: top;
}

table.bordered td.blank {
    border: 0px;
}

td.legend {
}

th {
    font-weight: bold;
    background: #ffffe0;
    padding-left: 3px;
    padding-right: 3px;
}

table.bordered th {
  padding: 6px;
  border: 1px solid #bbb;
}

table.bordered_centered th {
  border: 1px solid #bbb;
}

table.grouping td {
  padding-right: 25px;
}

table.grouping th {
  padding-right: 25px;
}

tr.point_temp {
    font-family: Monospace;
    color: #aaa;
}

tr.point_perm {
    font-family: Monospace;
    color: #000;
}

.numeric {
    text-align: right;
}

table.overview {
    border: 0px;
}

table.grouping {
  border: 0;
}

table.grouping > td, table.grouping > th {
  border: 0;
}

.tdover {
    border: 0px;
    padding: 2px;
    margin: 2px;
}

.updatetime {
    width: 100%;
    text-align: center;
    font-size: xx-small;
}

.fineprint {
    font-size: 10px;
    color: #666;
    padding: 0px;
    margin-top: 2px;
}

body.simple_left_align div.updatetime {
    padding-top: 20px;
    font-size: xx-small;
    text-align: left;
}

div.inline {
  display: table-cell;
}

img.banner {
  position: relative;
  margin-bottom: 8px;
}

#banner-1 {
  left: -55px;
  margin-bottom: -6px;
}

#banner-2 {
  left: -6px;
}

#banner-3 {
  left: 5px;
}

#banner-4 {
  left: 3px;
}

.nemelex h3 {
  display: inline;
  margin-right: 9px;
}

.nemelex span {
  background: #f6ecf9;
  padding: 2px 4px;
  font-weight: bold;
}